.row {
  display: flex;
  flex-direction: row;
}

.component {
  box-shadow: 0px 0px 4px 0px gray;
  border-radius: 6px;
  margin: 1px;
}

.subComponent {
  box-shadow: 0px 0px 4px 0px gray;
  border-radius: 6px;
  margin: 3px;
}

.lightgray {
  background-color: lightgray;
}

.lightpink {
  background-color: lightpink;
}

.lightgreen {
  background-color: lightgreen;
}

.lemonchiffon {
  background-color: lemonchiffon;
}

